@media only screen and (min-width: 698px) {
.comment-type{
    margin-top: 4vw ;
    width : 100vw ;
    height: 9vw ;
}

.comment-type .top .userIcon{
    border-radius: 1.87vw;
    height: 4.58vw !important;
    width: 4.72vw !important ;
    padding-right: 1vw ;
}

.comment-type .top .sendIcon{
    height: 3.58vw !important;
    width: 3.72vw !important ;
}

.comment-type .top{
    display: flex ;
    flex-direction: row ;
    justify-content: space-between ;
    padding: 1vw ;
    align-items: center ;
}

.comment-type input{
    width : 85vw ;
    margin-bottom: 1vw ;
    height: 12px ;
    font-size: 1.5vw;
    font-weight: 300;
    color: black;
    border: none;
    padding: 1vw;
}
}