@media only screen and (min-width: 698px) {
.login{
    width: 100vw ;
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    background-color: #5CDB95 ;
    -webkit-box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.26);
    box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.26);
}

.login h2 {
    color: #05386B ;
}

.login .columnOne{
    width: 45vw ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    margin: auto ;
}

.login input{
    margin-bottom: 1vw ;
    width: 50%;
    height: 12px ;
    font-size: 1.5vw;
    font-weight: 300;
    color: #05386B;
    background-color: white ;
    box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0vw 0.15vw 0.312vw 0vw rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 0.5vw;
    padding: 1vw;
}

.login .columnOne button{
    width: 20vw;
    font-size: 1.4vw;
    border-radius: 4vw;
    border: none;
    padding: 1vw;
    background-color:white ;
    color: #05386B;
    transition: 0.5s linear;
    margin-bottom: 1vw ;
}

.login .columnTwo{
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    align-items: center ;
}

.login .columnThree{
    width : 30vw ;
    margin: auto ;
}
}